torch==2.2.0
torchvision==0.17.0
timm==0.9.16
grad-cam==1.5.0
fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
redis==5.0.4
aioredis==2.0.1
pydantic==2.7.1
pydantic-settings==2.3.0
Pillow==10.3.0
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.5.0
joblib==1.4.2
opencv-python-headless==4.9.0.80
torchmetrics==1.4.0
netcal==1.3.5
python-dotenv==1.0.1
lightgbm
